.home-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  /* align-items: center; */
}

.home-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  /* justify-content: center; */
}

.home-block{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  flex: 1;
}
.list-docs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.doc{
  display: flex;
  border-bottom: 1px solid #ededed;
  padding: 10px;
  cursor: pointer;
}