.home-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  /* align-items: center; */
}

.home-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 20px;
  /* justify-content: center; */
}

.home-block{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  min-width: fit-content;
  width: 100%;
  flex: 1;
}
.list-docs{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.doc{
  display: flex;
  border-bottom: 1px solid #ededed;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.doc:hover{
  background-color: #303030;
}
.doc-area{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subheading{
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px){
  .subheading{
    font-size: 20px;
  }
}